body {
    background-color: rgb(195, 175, 165);
    color: #0e0c0c;
}

.jumbotron {
    background-image: url("https://news.usc.edu/files/2018/02/HarmfulBacteria_web.jpg");
    background-size: 100% 100%;
    text-align: center;
    color: white
}